// Base Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: $color-bg;
  color: $color-text;
  line-height: $line-height-normal;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $space-lg;
}

h1, h2, h3 {
  font-weight: $font-bold;
  color: $color-dark;
}

