apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  labels:
    app: web-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app
        image: gcr.io/YOUR-PROJECT/web-app:latest
        ports:
        - containerPort: 8080
        # TODO: Add environment variables from ConfigMap
        # TODO: Add resource limits and requests
        # TODO: Add liveness and readiness probes

