/* CSS Selector Practice - Starter */

/* TODO: Style the body element */


/* TODO: Style all h1 elements */


/* TODO: Style elements with class "highlight" */


/* TODO: Style the element with id "main-content" */


/* TODO: Style all links */


/* TODO: Style links on hover */


/* TODO: Style links on focus */


/* TODO: Style the first list item using :first-child */


/* TODO: Style the last list item using :last-child */


/* TODO: Style elements with class "special" */


/* TODO: Style all sections with class "box" */


/* TODO: Style the footer */


