// ==========================================================================
// UTILITIES: DISPLAY
// Display utility classes
// ==========================================================================

.u-hidden { display: none !important; }
.u-block { display: block !important; }
.u-inline { display: inline !important; }
.u-inline-block { display: inline-block !important; }
.u-flex { display: flex !important; }
.u-inline-flex { display: inline-flex !important; }
.u-grid { display: grid !important; }
.u-inline-grid { display: inline-grid !important; }

