// BEM Helpers
@mixin e($name) {
  &__#{$name} {
    @content;
  }
}

@mixin m($name) {
  &--#{$name} {
    @content;
  }
}

// Responsive
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
);

@mixin respond-to($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

