// OOCSS Object: Grid
.o-grid {
  display: grid;
  gap: spacing('4');

  @include m('2col') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m('3col') {
    grid-template-columns: repeat(1, 1fr);

    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

