// ==========================================================================
// ELEMENTS: PAGE
// HTML and body element styles
// ==========================================================================

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: font-family('base');
  font-size: font-size('base');
  font-weight: font-weight('normal');
  line-height: line-height('normal');
  color: color('gray-900');
  background-color: color('white');
}

